<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- * HEAD -->
<%- include(`../partials/head`) -%>

<!-- * BODY -->
<body>

    <!-- * Header -->
    <%- include(`../partials/header`) -%>  

    <!-- * Main -->
    <main class="main--compose">
        <!-- <h1>Compose</h1> -->
        <form action="/compose" method="POST" class="compose--form">
            <div class="form-group">
                <!-- <label class="form-label" for="title">Title</label> -->
                <input class="form-control title-input" id="title" name="title" type="text" placeholder="Write your title here...">
            </div>
            <div class="form-group post-body-form">
                <!-- <label class="form-label" for="post">Post</label> -->
                <textarea class="form-control post-body" id="post" name="post" placeholder="Write your thoughts here..."></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" name="submit" type="submit">Publish</button>
            </div>
        </form>
    </main>  

    <!-- * Footer -->
    <%- include(`../partials/footer`) -%>

    <!-- <script src="javascript/client/calendar.js"></script> -->
</body>

</html>