<nav class="navbar navbar-expand-lg">
  <!-- <div class="container-fluid"> -->
  <a class="navbar-brand" href="#"><span>Über</span>mensch<i class="fa-solid fa-columns-3"></i></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="nav-link active" aria-current="page" href="#">
          <i class="fa-solid fa-grip"></i>
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#">
          <i class="fa-solid fa-pause"></i>
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link add" href="#">
          <i class="fa-solid fa-plus"></i>
        </button>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
    </ul>
  </div>
  <!-- </div> -->
</nav>